@model Client_QuanLythueTro.Models.LoaiTaiKhoan

@{
    ViewData["Title"] = "CreateTK";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.services = "active";
    ViewBag.Name = "Thêm mới";
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="tile" id="printMe">
                <div class="element-button">
                    <h4 style="text-align:center">THÊM TÀI KHOẢN DỊCH VỤ</h4>
                </div>
                <form asp-action="CreateTK">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(model => model.idLoaiTK)

                    <div class="form-group">
                        <b>Tên loại</b>
                        <input asp-for="tenLoaiTK" class="form-control" required />
                        <span asp-validation-for="tenLoaiTK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b>Giá</b>
                        <input asp-for="giaTK" class="form-control" type="number" min="0" required />
                        <span asp-validation-for="giaTK" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b>Hạn dùng</b>
                        <input asp-for="hanDung" class="form-control" type="number" min="0" required />
                        <span asp-validation-for="hanDung" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a class="btn btn-warning" href="~/NVKD/QuanLyDichVu"> Trở lại</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

