@model Client_QuanLythueTro.Models.DichVuDangTin

@{
    ViewData["Title"] = "EditGoiTinDichVu";
    Layout = "~/Views/NVKD/LayoutNVKD/LayoutNVKD.cshtml";
    ViewBag.services = "active";
    ViewBag.Name = "Quản lý dịch vụ";
}
@{
    // alert includ icons: question, info, success, error, warning
    //footer: '<a href="">Why do I have this issue?</a>'
    var checkMessage = TempData["AlertMessage"];
    if (checkMessage == "successful")
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thành công',
                text: 'Xóa lịch xem thành công!'
            })
        </script>

    }
    if (checkMessage == "failed")
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Đã có lỗi xảy ra',
                text: 'Chỉ được xóa lịch xem trước 24h tính từ ngày xem!'
            })
        </script>

    }
}

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="tile" id="printMe">
                <div class="element-button">
                    <h4 style="text-align:center">Chỉnh sửa dịch vụ gói tin</h4>
                </div>
                    <form asp-action="EditGoiTinDichVu">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <b>Mã gói dịch vụ</b>
                            <input asp-for="idDichVu" class="form-control" readonly/>
                            <span asp-validation-for="idDichVu" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <b>Gói tin dịch vụ: </b>
                        <input asp-for="loaiDichVu" class="form-control" required />
                            <span asp-validation-for="loaiDichVu" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <b>Giá gói dịch vụ</b>
                        <input asp-for="giaCa" class="form-control" type="number" min="1" required />
                            <span asp-validation-for="giaCa" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <b>Hạn sử dụng</b>
                        <input asp-for="hanDung" class="form-control" required />
                            <span asp-validation-for="hanDung" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <b>Vị trí hiển thị</b>
                            <input asp-for="viTriHienThi" class="form-control" type="number" min="1" required />
                            <span asp-validation-for="viTriHienThi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <b>Trạng thái sử dụng</b>
                        <select class="form-control" asp-for="trangThaiSuDung" id="trangThaiSuDung" required>
                            <option selected="selected" >@Model.trangThaiSuDung</option>
                            @if(Model.trangThaiSuDung==true)
                            {
                                <option value="false" >Hủy</option>
                            }else
                            {
                                <option value="true">Kích hoạt</option>
                            }
                        </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            <div>
                <a asp-action="QuanLyDichVu">Back to List</a>
            </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

