
@{
    ViewData["Title"] = "CreateTinDangPT";
    Layout = "~/Views/ChuChoThue/Layout/_LayoutCaNhan.cshtml";
}

<div class="bg-light">
    <ol class="breadcrumb list-unstyled">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Trang cấp 1</a></li>
        <li class="breadcrumb-item"><a href="#">Trang cấp 2</a></li>
        <li class="breadcrumb-item" aria-current="page">Trang hiện tại</li>
    </ol>
</div>
<h3>Đăng tin mới</h3>
<hr />
<div>
    <h4>Địa chỉ cho thuê</h4>
    <h1>Chọn danh sách tỉnh</h1>
    <form action="">
        <select name="" id="province">
        </select>
        <select name="" id="district">
            <option value="">chọn quận</option>
        </select>
        <select name="" id="ward">
            <option value="">chọn phường</option>
        </select>
    </form>


    <h2 id="result"></h2>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/js/map/mapapi.js"></script>