@model Client_QuanLythueTro.Models.LichXemPhong
@{
    ViewData["Title"] = "EditLichXem";
    Layout = "~/Views/ChuChoThue/Layout/_LayoutCaNhan.cshtml";
    ViewBag.MainPageLink = "/ChuChoThue/QLLichXemPhong";
    ViewBag.MainPage = "Quản lý lịch xem phòng";
    ViewBag.CurrentPage = "Chỉnh sửa lịch xem phòng";
}

<div class="row">
    <h4>Cập nhật lịch xem phòng</h4> <hr />
    <form asp-action="EditLichXem" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.idLichXem)
        <div class="form-group">
            <div class="col-sm-4">
                <label class="form-label" asp-for="idLichXem">Mã lịch xem:</label>
                <input type="text" class="form-control" asp-for="idLichXem" readonly>
                <span asp-validation-for="idLichXem" class="text-danger"></span>
            </div>
            <div class="row mt-3 mb-5">
                <h5>Thông tin lịch xem</h5>
                <div class="col-sm-4">
                    <label class="form-label" asp-for="ngayXem">Chọn ngày xem:</label>
                    <input class="form-control text-box single-line col-md-12" asp-for="ngayXem" data-val="true" data-val-date="The field NgayXem must be a date." type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:00")" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:00")" required>
                    <span asp-validation-for="ngayXem" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label class="form-label" asp-for="idTinDang">Chọn tin đăng:</label>
                    <input type="text" class="form-control" asp-for="idTinDang" readonly>
                    <span asp-validation-for="idTinDang" class="text-danger"></span>
                </div>
                <div class="col-sm-4">
                    <label class="form-label" asp-for="trangThai">Trạng thái lịch xem:</label>
                    <select class="form-select" asp-for="trangThai" required>
                        <option value="true">Xác nhận</option>
                        <option value="false">Không xác nhận</option>
                    </select>
                    <span asp-validation-for="trangThai" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <h5>Thông tin người đến xem</h5>
            <div class="col-6">
                <label class="form-label" asp-for="nguoiXem">Họ và tên:</label>
                <input type="text" class="form-control" asp-for="nguoiXem" required>
                <span asp-validation-for="nguoiXem" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label class="form-label" asp-for="sdtNguoiXem">Số điện thoại liên lạc:</label>
                <input type="text" class="form-control" asp-for="sdtNguoiXem" required>
                <span asp-validation-for="sdtNguoiXem" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
            <a class="btn btn-warning" href="~/ChuChoThue/QLLichXemPhong"> Trở lại</a>
        </div>
    </form>
</div>

